.outlays-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.outlays-list {
  width: 600px;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  margin-top: 20px;
}

.listaGastos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding: 0 20px;
}

.listaGastos li {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}

.listaGastos strong, 
.listaGastos p {
  margin-left: 10px;
}

.buttonExcluir{
  display: flex;
  position: relative;
  bottom: 190px;
  left: 210px;
  padding: 2px;
  height: 18px;
  font-size: 13px;
  align-items: center;
}

.back-outlays {
  display: flex;
  position: relative;
  left: 270px;
  top: 20px;
}