img {
  width: 100px;
}

.dadosPerfil {
  margin-top: 80px;
  font-size: 20px;
  line-height: 10px;
}

:link {
  text-decoration: none;
}

.linksAltera {
  display: block;
  margin-bottom: 10px;
}

.back {
  display: flex;
  position: relative;
  top: 80px;
}

.logout {
  display: flex;
  position: relative;
  top: 120px;
}