.minors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.minors-container h1 {
  text-align: center;
}

.grafico {
  width: 400px;
}

.minors-buttons {
  margin-top: 20px;
}

.minors-buttons .separator {
  margin: 0 15px;
}