.container  {
  height: 555px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5577dd;
  border-radius: 10px;
}

.form {
  width: 510px;
  text-align: center;
}

.form input {
  width: 400px;
  height: 45px;
  margin-top: 30px;
}

.form button {
  display: block;
  width: 120px;
  height: 30px;
  margin: 15px auto;
}




